<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-11-16T11:47:30Z</date>
	<key>WorkspacePath</key>
	<string>/Users/k.bekher/Projects/Ivan/chrono-app/Chrono.xcodeproj</string>
</dict>
</plist>
